
.settings-box {
    -fx-spacing: 0.4em;
}

.subsettings-box {
    -fx-padding: 0 0 0 2em;
}

.parent-box {
    -fx-padding: 0.4em;
}

.column-container {
    -fx-padding: 0.25em;
}

.label-important {
    -fx-font-weight: bold;
}

.buttons-container {
    -fx-spacing: 0.8em;
    -fx-padding: 0.4em;
}

.main-button {
    -fx-padding: 1em;
    -fx-pref-width: 13em;
}

.gameboard {
    -fx-padding: 0.4em;
}
